@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}


/*todos os códigos de estilo de conteúdo semelhantes*/
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.sobre, .servico, .habilidades , .formacao, .redes footer{
    font-family: 'Source Serif Pro', serif;
}
.sobre .sobre-content, 
.servico .serv-content,
.habilidades .habilidade-content, .redes .redes-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Source Serif Pro', serif;
}
section .text::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .text::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: rgb(197, 20, 220);
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* da site estilo*/

.nav{
    position: fixed;
    width: 100%;
    z-index: 999;
    
    padding: 30px 0;
    background: #cd9fe9;
  
    font-family: 'Source Serif Pro', serif;
    transition: all 0.3s ease;

}
.nav.habilidades{
    padding: 15px 0;
    background: #2a15558e; 
  
    
}

.nav .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .logo a{
    font-size: 35px;
    font-weight: 500;
    color: #fff;
}
.nav .logo a span{
    color: #ff0000a9;
    transition: all 0.3s ease;

}
.nav.habilidades .logo a span{
    color: #fff;
}

.nav .menu li{
    list-style: none;
    display: inline-block;
}

.nav .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.nav .menu li a:hover{
    color: #ff000088
}
.nav.habilidades .menu li a:hover{
    color: #ff00003b;
}

/*Menu btn estilo*/
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;

}


/*início da seção inicial*/
.acesso{
    display: flex;
    background: url(/jess-bailey-q10VITrVYUM-unsplash.jpg) no-repeat center;
    height: 100vh;
    color:#422975cb;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Source Serif Pro', serif;

}
.acesso .max-width{
    margin: auto 0 auto 40px;

}
.acesso .acesso-content .text-1{
    font-size: 37px;
    

}
.acesso .acesso-content .text-2{
    font-size: 30px;
    font-weight: 600;
    margin-left: -3px;
   

}
.acesso .acesso-content .text-3{
    font-size: 30px;
    margin: 5px 0;

}
.acesso .acesso-content .text-3 span{
    color:#ff000071;
    font-weight: 400; 

}
.acesso .acesso-content a{
    display: inline-block;
    background-color: #cd9fe9;
    font-size: 21px;
    padding: 12px 26px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid #cd9fe9;
    transition: all 0.3s ease;
}
.acesso .acesso-content a:hover{
    color: #fff;
    background: none;

}

/* sobre */


.sobre .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px; 
    padding-bottom: 20px;
    font-family: 'Source Serif Pro', serif;
}
.sobre .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;


    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);

}
.sobre .title::after{
    content: "quem eu sou";
    position: absolute;
    bottom: -11px;
    left: 50%;
    font-size: 20px;
    color: #8A2BE2;
    padding: 5px;
    
    background: #fff;
    transform: translateX(-50%);

}
.sobre .sobre-content,.servico .serv-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

}
.sobre .sobre-content .left{
    width: 45%;
    
    }
.sobre .sobre-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.sobre .sobre-content .right{
    width: 55%;
    }

.sobre .sobre-content .right .text{
    font-size: 25px;
    font-weight: 600;     
    margin-bottom: 10px;   

        }

.sobre .sobre-content .right .text span{
    color: #dd67ac;
}
.sobre .sobre-content .right p{

    text-align: justify;

}
.sobre .sobre-content .right a{

    display: inline-block;
    background: #c31eec62;
    color: white;
    font-size: 10px 30px;
    font-weight: 500;

    padding: 10px;
    border-radius: 6px;
    border: 2px solid #892be223;
    transition: all 0.3s ease;

}
.sobre .sobre-content .right a:hover{
    color: #8A2BE2;
    background: none;
}

/*serviço*/
.servico, .formacao{
    color: #fff;
    background: #a277bd;
}
.servico .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px; 
    padding-bottom: 20px;
    font-family: 'Source Serif Pro', serif;
}
.servico .title::before, 
.formacao .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;


    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}
.servico .title::after,
.formacao .title::after{
    content: "o que eu forneço";
    position: absolute;
    bottom: -11px;
    left: 50%;
    font-size: 20px;
    color: #892be2;
    padding: 5px;
    
    background-color: #a277bd;;
    transform: translateX(-50%);
}
.servico .serv-content .card{
    width: calc(33% - 20px);
    background-color:#cd9fe9a4;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
}
.servico .serv-content .card .box{
    transition: all 0.03s ease;
}
.servico .serv-content .card:hover{
    background: #a277bd;
    transition: color 0.03s ease;
}
.servico .serv-content .card:hover .box{
    transform: scale(1.05);
}
.servico .serv-content .card i{
    font-size: 50px;
    color: #a277bd;
}
.servico .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/*Habilidades*/


.habilidades .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;


    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}
.habilidades .title::after{
    content: "Minhas Habilidades";
    position: absolute;
    bottom: -11px;
    left: 50%;
    font-size: 20px;
    color: #8136be;
    padding: 5px;
    
    background-color: #fdf9ff;;
    transform: translateX(-50%);
}

.habilidades .habilidade-content .column{
    width: calc(50% - 30px);
}
.habilidades .habilidade-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.habilidades .habilidade-content .left p{
    text-align: justify;
}
.habilidades .habilidade-content .left a{
    display: inline-block;
    background: rgba(165, 12, 226, 0.274);
    color: #fff;
    font-size: 8px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgba(163, 20, 220, 0);
    transition: all 0.3s ease;
}
.habilidades .habilidade-content .left a:hover{
    color: rgb(140, 20, 220);
    background: none;
}
.habilidades .habilidade-content .right .bars{
    margin-bottom: 15px;
}
.habilidades .habilidade-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.habilidades .habilidade-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.habilidades .habilidade-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.habilidades .habilidade-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.habilidade-content .right .html::before{
    width: 70%;
}
.habilidade-content .right .css::before{
    width: 40%;
}
.habilidade-content .right .javascritp::before{
    width: 40%;
}
.habilidade-content .right .c::before{
    width: 30%;
}

/*Formação*/
.formacao {
        color: #fff;
        background: #a277bd;
    
}
 .formacao .title::after{
     content: "Minha formação";
 }
.formacao .carousel .card{
    background: rgba(34, 34, 34, 0.185);
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.formacao .carousel .card:hover{
    background: rgba(113, 20, 220, 0.24);
}
.formacao .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formacao .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;

}
.formacao .carousel .card imag{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
}


/*contatos*/


.redes{
    color: #222;
}
.redes .redes-content .column{
    width: calc(30% - 30px);
}
.redes .redes-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;

}
.redes .redes-content .left p{
    text-align: justify;
}
.redes .redes-content .left .icons{
    margin: 20px 0;
}

.redes .redes-content .row .info{
    margin-left: 30px;
}
.redes .redes-content .row i{
    font-size: 45px;
    color: rgb(157, 20, 220);
    height: 5px;
    width: 5px;
    object-fit: contain;
    border-radius: 50%;
    transition: color 0.03s ease;
 
  
}
/*início da seção do rodapé*/
footer{
    background: rgb(112, 31, 150);
    padding: 20px 23px;
    color: beige;
}

footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}













/*início de consulta de mídia responsiva*/
@media(max-width: 1300px){

    .acesso .max-width{
        margin-left: 0px; 
    }
}
@media(max-width: 1104px){
    .sobre .sobre-content .left imag{
        height: 350px;
        width: 350px;
    }
}
@media(max-width: 991px){
    .max-width{

        padding: 0 50px;
    }
}
@media(max-width: 947px){
    
    .menu-btn{
    
        display: block;
        z-index: 999; 
    }
    .menu-btn i.ativa:before{
        content: "\f00d";
    }
    
    .nav .menu{
        position: fixed;
        height:  100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .nav .menu.ativa{
        left: 0;

    }
    .nav .menu li{
        display: inline-block;
    }
    .nav .menu li a{
        display: inline-block;
        margin: 2px;
        font-size: 25px;
    }
    
    .acesso .acesso-content .text-2{
        font-size: 70px;
     
    }
    .acesso .acesso-content .text-3{
        font-size: 35px;
        
    }
    
    .acesso .acesso-content a{
        display: inline-block;
        background-color: #cd9fe9;
        font-size: 25px;
        padding: 12px 36px;
        margin-top: 20px;
        border-radius: 6px;
        border: 2px solid #cd9fe9;
        transition: all 0.3s ease;
    }
    .acesso .acesso-content a:hover{
        color: #fff;
        background: none;

    }
    .max-width{
    max-width: 930px;
    }

    .sobre .sobre-content .column{
        width: 50%;
    }
    .sobre .sobre-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .sobre .sobre-content .right{
        flex: 100%;
    }
    .servico .serv-content .card{   
        width: calc(50% - 10px);
        margin-bottom: 20px ;
    }
}



@media (max-width:690px){
    .max-width{
        padding: 0 23px;
    }
    .acesso .acesso-content .text-2{
        font-size: 60px;
     
    }
    .acesso .acesso-content .text-3{
        font-size: 32px;
    }
    .acesso .acesso-content a{
        font-size: 20px;
        padding: 8px 25px;
    }
    .servico .serv-content .card{   
        width:100%;
    }
}
@media (max-width:500px){
    
    .acesso .acesso-content .text-2{
        font-size: 50px;
     
    }
    .acesso .acesso-content .text-3{
        font-size: 27px;
   
    
    }
}